<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <style>
        * {
            padding: 0;
            margin: auto 0;
        }

        .container-fluid {
            padding: 0;
        }

        #btnDangXuat {
            background-color: transparent;
            color: #e2e2e2;
            border: none;
            outline: none;
        }

        #container-controller {
            padding-top: 20pt;
            padding-bottom: 20pt;
        }

        #btnThemNguoiDung,
        #btnTimKiem {
            border-radius: 0.5rem;
            padding: 8pt 10pt 8pt 10pt;
            border: none;
            outline: none;
            background: #016aff;
            color: #fff;
            font-weight: 550;
        }

        #btnRefresh {
            border-radius: 0.5rem;
            padding: 11pt;
            border: none;
            background: #343A40;
            color: #fff;
            font-weight: 400;
            outline: none;
        }

        #etxtTimKiem,
        #dropDownStatus {
            padding: 8pt 10pt 8pt 10pt;
            width: 68%;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 0.5rem;
        }

        table#tbldsNguoiDung>thead>tr>th {
            text-align: center;
        }

        table#tbldsNguoiDung>tbody>tr>td {
            text-align: center;
        }

        table#tbldsNguoiDung>tbody>tr>td:nth-child(6) {
            gap: normal;
            text-align: center;
            display: flex;
            justify-content: center;
            border: none;
            border-top: 1px solid #DEE2E6;
        }

        #etxtHoTen,
        #etxtSDT,
        #etxtMatKhau {
            width: 80%;
            margin-bottom: 20pt;
            border: none;
            border-bottom: 1px solid #c2c2c2;
            padding: 10pt 0 5pt 0;
            outline: none;
        }

        .toggle_button {
            position: relative;
            height: 30px;
            width: 60px;
            outline: none;
            -webkit-appearance: none;
            background: #afafaf;
            border: none;
            border-radius: 20pt;
        }

        .toggle_button:checked {
            border: none;
            background: #12bb7a;
        }

        .toggle_button::before {
            position: absolute;
            background: #fff;
            content: '';
            width: 30px;
            height: 30px;
            outline: none;
            border: 1px solid #b8b8b8;
            border-radius: 20pt;
            top: 0;
            left: 0;
            transition: 0.3s;
            transform: scale(1.01);
        }

        .toggle_button:checked:before {
            left: 30px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="border-bottom: 1px solid #808080;">
            <a href="/home"><img src="https://imposter-zalo.s3-ap-southeast-1.amazonaws.com/logo.png" class="nav-brand"
                    style="width: 5rem;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="padding-left: 10pt;">
                        <a class="nav-link" style="color: #e2e2e2;" href="/home/usermanage">Quản Lý Người Dùng</a>
                    </li>
                </ul>

                <form method="POST" action="/logout" class="form-inline my-2 my-lg-0">
                    <button type="submit" id="btnDangXuat">Đăng Xuất</button>
                </form>
            </div>
        </nav>

        <div class="container" style="padding: 0;">
            <div class="row" id="container-controller">
                <div class="col-sm-3" style="padding: 0;">
                    <button id="btnRefresh" type="button"><i class="fa fa-refresh"></i></button>
                    <button type="button" id="btnThemNguoiDung" data-toggle="modal" data-target="#modalThemNguoiDung">+
                        Thêm Người Dùng</button>
                </div>
                <div class="col-sm-5" style="text-align: end;">
                </div>
                <div class="col-sm-4" style="padding: 0; text-align: end;">
                    <form method="POST" id="frmTimKiem" style="width: 100%;">
                        <input type="tel" placeholder="Nhập Số Điện Thoại Cần Tìm" id="etxtTimKiem" required
                            pattern="^[0-9]+$" style="width: 80%;">
                        <button type="submit" id="btnTimKiem">Tìm</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-bordered" id="tbldsNguoiDung">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Họ Tên</th>
                            <th scope="col">Ngày Sinh</th>
                            <th scope="col">Giới Tính</th>
                            <th scope="col">Số Điện Thoại</th>
                            <th scope="col">Trạng Thái</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach((user)=>{ %>
                        <tr>
                            <td class="manguoidung"><%- user.MaNguoiDung %></td>
                            <td class="hoten"><%- user.HoTen %></td>
                            <td class="ngaysinh"><%- user.NgaySinh %></td>
                            <td class="gioitinh"><%- user.GioiTinh%></td>
                            <td class="sodienthoai"><%- user.SoDienThoai %></td>
                            <td class="status"><% if(user.Status == 1){%>
                                <input type="checkbox" class="toggle_button" checked><span class="txtStatus"
                                    style="color: #12bb7a; font-weight: 550; padding-left: 5pt; width: 6rem;">Hoạt
                                    Động</span>
                                <%}%>
                                        <%if(user.Status == 0){%>
                                <input type="checkbox" class="toggle_button"><span class="txtStatus"
                                    style="color: red; font-weight: 550; padding-left: 5pt; width: 6rem;">Khoá</span>
                                <%}%>
                                </td>
                            <td>
                                <button style="outline: none; border-radius: 0.5rem; color: #fff; background-color: #C82333; border: none; padding: 8px;"  class="btnDeleteNguoiDung"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Xoá</button>
                            </td>
                                </tr>                                   
                             <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal Thêm Người Dùng -->
    <div class="modal fade" id="modalThemNguoiDung" aria-hidden="true" style="padding: 0;">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align: center; padding-top: 0pt; border-radius: 10pt;">
                <div
                    style="border-radius: 10pt 10pt 0 0; display: flex; justify-self: end; align-items: center;  margin-bottom: 20pt; background-color: #016aff; padding: 6px 0 6px 0;">
                    <div style="float: left; width: 100%; padding-top: 5pt;">
                        <h5 style="color: #f3f3f3; font-size: 14pt;">Thêm Người Dùng</h5>
                    </div>
                </div>
                <form method="POST" id="frmThemNguoiDung">
                    <i class="fa fa-user"></i><span>&nbsp;&nbsp;</span>
                    <input type="text" placeholder="Nhập Họ Tên Người Dùng" name="fullname" id="etxtHoTen" required
                        minlength="3">
                    <br />
                    <i class="fa fa-phone"></i><span>&nbsp;&nbsp;</span>
                    <input type="tel" placeholder="Nhập Số Điện Thoại" name="phone" pattern="^0[1-9][0-9]{8}$"
                        id="etxtSDT" required>
                    <br />
                    <i class="fa fa-lock"></i><span>&nbsp;&nbsp;</span>
                    <input type="password" placeholder="Nhập Mật Khẩu" minlength="6" name="password" id="etxtMatKhau"
                        required>
                    <br />
                    <div style="text-align: end; margin-top: 10pt; margin-bottom: 30pt; padding-right: 25pt;">
                        <button style="outline: none; border-radius: 0.5rem; padding-right:15pt; padding-left: 15pt;"
                            class="btn btn-danger" type="button" style="outline: none;" data-dismiss="modal"
                            aria-label="Close">Huỷ</button>
                        <button type="submit" id="btnLuu" class="btn btn-primary"
                            style="border-radius: 0.5rem; width: 120px; padding: 5pt; outline: none;">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Xác Nhận Trạng Thái Tài Khoản -->
    <div class="modal fade" id="modalXacNhan" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align: center; padding-top: 0pt; border-radius: 10pt;">
                <div
                    style="border-radius: 10pt 10pt 0 0; display: flex; justify-self: end; align-items: center;  margin-bottom: 20pt; background-color: #016aff; padding: 6px 0 6px 0;">
                    <div style="float: left; width: 100%; padding-top: 5pt;">
                        <h4 style="color: #f3f3f3; font-size: 16pt;" id="title_confirm"></h4>
                    </div>
                </div>
                <div class="modal-body" style="text-align: start;">
                    <h5 id="message_confirm"></h5>
                </div>
                <div class="modal-footer">
                    <button style="width: 4rem; font-weight: 550;" id="btnHuy" type="button" class="btn btn-danger"
                        data-dismiss="modal">Huỷ</button>
                    <button style="width: 8rem; font-weight: 550;" id="btnXacNhan" type="button" class="btn btn-primary"
                        data-dismiss="modal">Xác Nhận</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Xác Nhận Xoá -->
    <div class="modal fade" id="modalXacNhanXoa" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align: center; padding-top: 0pt; border-radius: 10pt;">
                <div
                    style="border-radius: 10pt 10pt 0 0; display: flex; justify-self: end; align-items: center;  margin-bottom: 20pt; background-color: #016aff; padding: 6px 0 6px 0;">
                    <div style="float: left; width: 100%; padding-top: 5pt;">
                        <h4 style="color: #f3f3f3; font-size: 16pt;" id="title_confirm_delete"></h4>
                    </div>
                </div>
                <div class="modal-body" style="text-align: start;">
                    <h5 id="message_confirm_delete"></h5>
                </div>
                <div class="modal-footer">
                    <button style="width: 4rem; font-weight: 550;" id="btnHuy" type="button" class="btn btn-danger"
                        data-dismiss="modal">Huỷ</button>
                    <button style="width: 8rem; font-weight: 550;" id="btnXacNhanXoa" type="button"
                        class="btn btn-primary" data-dismiss="modal">Xác Nhận</button>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal Thông Báo -->
    <div class="modal fade" id="modalThongBao" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="text-align: center; padding-top: 0pt; border-radius: 10pt;">
                <div
                    style="border-radius: 10pt 10pt 0 0; display: flex; justify-self: end; align-items: center;  margin-bottom: 20pt; background-color: #016aff; padding: 6px 0 6px 0;">
                    <div style="float: left; width: 100%; padding-top: 5pt;">
                        <h4 style="color: #f3f3f3; font-size: 16pt;" id="title_notify"></h4>
                    </div>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <h5 id="message_notify"></h5>
                </div>
                <div class="modal-footer" style="text-align: center;" id="container-button-ok">
                    <button style="width: 6rem; font-weight: 550;" id="btnOK" type="button" class="btn btn-primary"
                        data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        //Refresh Trang Web
        $('#btnRefresh').on('click', () => {
            window.location = '/home/usermanage'
        })


        //Tìm Kiếm Số Điện Thoại
        $('#btnTimKiem').on('click', () => {
            //Chặn Submit
            $('#frmTimKiem').on('submit', (e) => {
                e.preventDefault()
            })

            let soDienThoai = $('#etxtTimKiem').val()

            if (soDienThoai == "") {
                return;
            }

            GetNguoiDungbySDT(soDienThoai, (result) => {
                if (result.length == 0) {
                    $('#modalThongBao').modal()
                    $('#title_notify').text('Tìm Kiếm Người Dùng')
                    $('#message_notify').html(
                        '<i style="color: red; font-size: 38pt; margin-bottom: 15pt;" class="fa fa-close"></i><h5 font-size: 32pt;">Không Tìm Thấy</h5>'
                    )
                } else {
                    $('#tbldsNguoiDung tbody').empty()

                    var row = "<tr>";

                    if (result[0].MaNguoiDung != null) {
                        row += "<td class='manguoidung'>" + result[0].MaNguoiDung + "</td>";
                    } else {
                        row += "<td class='manguoidung'>" + "" + "</td>";
                    }
                    if (result[0].HoTen != null) {
                        row += "<td class='hoten'>" + result[0].HoTen + "</td>";
                    } else {
                        row += "<td class='hoten'>" + "" + "</td>";
                    }
                    if (result[0].NgaySinh != null) {
                        row += "<td class='ngaysinh'>" + result[0].NgaySinh + "</td>";
                    } else {
                        row += "<td class='ngaysinh'>" + "" + "</td>";
                    }
                    if (result[0].GioiTinh != null) {
                        row += "<td class='gioitinh'>" + result[0].GioiTinh + "</td>";
                    } else {
                        row += "<td class='gioitinh'>" + "" + "</td>";
                    }
                    if (result[0].SoDienThoai != null) {
                        row += "<td class='sodienthoai'>" + result[0].SoDienThoai + "</td>";
                    } else {
                        row += "<td class='sodienthoai'>" + "" + "</td>";
                    }

                    if (result[0].Status == 0) {
                        row +=
                            "<td class='status'><input type='checkbox' class='toggle_button'><span class='txtStatus' style='color: red; font-weight: 550; padding-left: 5pt; width: 6rem;'>Khoá</span></td>";
                    }
                    if (result[0].Status == 1) {
                        row +=
                            "<td class='status'><input type='checkbox' class='toggle_button' checked><span class='txtStatus' style='color: #12bb7a; font-weight: 550; padding-left: 5pt; width: 6rem;'>Hoạt Động</span></td>";
                    }
                    row +=
                        "<td><button style='outline: none; border-radius: 0.5rem; color: #fff; background-color: #C82333; border: none; padding: 8px;' class='btnDeleteNguoiDung'><i class='fa fa-trash-o'></i>&nbsp;&nbsp;Xoá</button></td>";

                    row += "</tr>";

                    $('#tbldsNguoiDung tbody').append(row)
                }
            })
        })

        function GetNguoiDungbySDT(soDienThoai, callback) {
            var data = {
                SoDienThoai: soDienThoai,
            }

            $.ajax({
                url: "/home/usermanage/findphone",
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(data),
                success: function (res) {
                    callback(res)
                },
            });
        }


        $('#btnLuu').on('click', () => {
            //Chặn Submit
            $('#frmThemNguoiDung').on('submit', (e) => {
                e.preventDefault()
            })

            var HoTen = $('#etxtHoTen').val()
            var SoDienThoai = $('#etxtSDT').val()
            var MatKhau = $('#etxtMatKhau').val()

            if (HoTen == "") {
                return;
            }
            if (SoDienThoai == "") {
                return;
            }
            if (MatKhau == "") {
                return;
            }

            AddNewUser(HoTen, SoDienThoai, MatKhau, (res) => {
                if (res) {
                    $('#container-button-ok').css('visibility', 'hidden')
                    $('#modalThemNguoiDung').modal('hide')
                    $('#modalThongBao').modal()
                    $('#title_notify').text('Thêm Người Dùng')
                    $('#message_notify').html(
                        '<i style="color: #00d45e; font-size: 38pt; margin-bottom: 15pt;" class="fa fa-check-circle-o"></i><h5 font-size: 32pt;">Thành Công</h5>'
                    )

                    setTimeout(() => {
                        window.location = '/home/usermanage'
                    }, 1500)
                } else {
                    $('#modalThemNguoiDung').modal('hide')
                    $('#modalThongBao').modal()
                    $('#title_notify').text('Thêm Người Dùng')
                    $('#message_notify').html(
                        '<i style="color: red; font-size: 38pt; margin-bottom: 10pt;" class="fa fa-close"></i><h5 font-size: 20pt;">Số Điện Thoại Có Thể Đã Được Sử Dụng</h5>'
                    )

                    return false
                }
            })
        })

        function AddNewUser(hoTen, soDienThoai, matKhau, callback) {
            var data = {
                HoTen: hoTen,
                SoDienThoai: soDienThoai,
                MatKhau: matKhau
            }

            $.ajax({
                url: "/home/usermanage/adduser",
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(data),
                success: function (res) {
                    callback(res)
                },
            });
        }

        //Cập Nhật Trạng Thái Tài Khoản
        $('#tbldsNguoiDung tbody').on('click', '.toggle_button', (e) => {
            var btnToggle = $(e.target).closest('tr').show().find('.status').find('.toggle_button')
            var status = $(e.target).closest('tr').show().find('.status').find('.toggle_button')
                .prop('checked');
            var MaNguoiDung = $(e.target).closest('tr').show().find('.manguoidung').text();
            var txtStatus = $(e.target).closest('tr').show().find('.status').find('.txtStatus');

            var data = {
                MaNguoiDung: MaNguoiDung,
                Status: status
            }
            $('#modalXacNhan').modal()

            if (status) {
                btnToggle.prop("checked", false)
                $('#title_confirm').text('Mở Tài Khoản')
                $('#message_confirm').text('Bạn có chắc muốn mở khoá tài khoản này không ?')
            } else {
                btnToggle.prop("checked", true)
                $('#title_confirm').text('Khoá Tài Khoản')
                $('#message_confirm').text('Bạn có chắc muốn khoá tài khoản này không ?')
            }

            $('#btnXacNhan').on('click', () => {
                if (status) {
                    ChangeStatus(MaNguoiDung, true, (result) => {
                        if (result) {
                            btnToggle.prop("checked", true)
                            txtStatus.text('Hoạt Động');
                            txtStatus.css('color', "#12bb7a");

                            $('#modalThongBao').modal()
                            $('#title_notify').text('Mở Tài Khoản')
                            $('#message_notify').html(
                                '<i style="color: #00d45e; font-size: 38pt; margin-bottom: 10pt;" class="fa fa-check-circle-o"></i><h5 font-size: 20pt;">Tài Khoản Đã Được Phép Sử Dụng</h5>'
                            )
                        }
                    })
                } else {
                    ChangeStatus(MaNguoiDung, false, (result) => {
                        if (result) {
                            btnToggle.prop("checked", false)
                            txtStatus.text('Khoá');
                            txtStatus.css('color', "red");

                            $('#modalThongBao').modal()
                            $('#title_notify').text('Khoá Tài Khoản')
                            $('#message_notify').html(
                                '<i style="color: #00d45e; font-size: 38pt; margin-bottom: 10pt;" class="fa fa-check-circle-o"></i><h5 font-size: 20pt;">Tài Khoản Đã Được Khoá</h5>'
                            )
                        }
                    })
                }
            })
        });

        function ChangeStatus(user_id, status, callback) {
            var data = {
                MaNguoiDung: user_id,
                Status: status
            }

            $.ajax({
                url: "/home/usermanage/changestatus",
                type: "PATCH",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(data),
                success: function (res) {
                    callback(res)
                },
            });
        }


        //Xoá Tài Khoản
        $('#tbldsNguoiDung tbody').on('click', '.btnDeleteNguoiDung', (e) => {
            var MaNguoiDung = $(e.target).closest('tr').show().find('.manguoidung').text();
            var row = $(e.target).closest('tr').show()

            $('#modalXacNhanXoa').modal()
            $('#title_confirm_delete').text('Xoá Tài Khoản')
            $('#message_confirm_delete').text('Bạn có chắc muốn xoá tài khoản này không ?')

            $('#btnXacNhanXoa').on('click', () => {
                DeleteUser(MaNguoiDung, (res) => {
                    if (res) {
                        row.remove()
                        $('#modalThongBao').modal()
                        $('#title_notify').text('Xoá Tài Khoản')
                        $('#message_notify').html(
                            '<i style="color: #00d45e; font-size: 38pt; margin-bottom: 10pt;" class="fa fa-check-circle-o"></i><h5 font-size: 20pt;">Tài Khoản Đã Được Xoá</h5>'
                        )
                    } else {
                        $('#modalThongBao').modal()
                        $('#title_notify').text('Xoá Tài Khoản')
                        $('#message_notify').html(
                            '<i style="color: red; font-size: 38pt; margin-bottom: 10pt;" class="fa fa-close"></i><h5 font-size: 20pt;">Không Thể Xoá Tài Khoản Này</h5>'
                        )
                    }
                })
            })
        })

        function DeleteUser(user_id, callback) {
            var data = {
                MaNguoiDung: user_id,
            }

            $.ajax({
                url: "/home/usermanage/deleteuser",
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(data),
                success: function (res) {
                    callback(res)
                },
            });
        }
    </script>
</body>

</html>